<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WoW Search Info Home Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{message}}</p>
        <p>Created By: {{author}}</p>
        <p>Created On: {{createDate}}</p>
        {{> footer}}
    </body>
</html>